<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load crispy_forms_tags %}

    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login In!!</legend>
                {{ form|crispy }}

            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">submit</button>
                <small class="text-muted" ml-2>

                </small>
            </div>
        </form>

    </div>
</body>
</html>