.loan_applied{
    display:"flex";
    flex-direction:"column";
    margin-top:200px;
}
.item{
padding:15px;
background-color: rgb(44, 42, 42);
color:white;
margin-bottom: 10px;
}
.vertical-form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}
.horizontal-form-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}