.content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.horizontal-form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border:solid; */
    align-items: center;
    padding: 20px;
}
.vertical-form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border:solid; */
    align-items: center;
    padding: 20px;
}
.loan_applied{
    
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 10px;
    
}
.item{
    background-color: rgb(47, 44, 44);
    color:white;
    padding:20px;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;  
}
.tem:hover{
    color: yellow;
}